[package]
name = "wcli"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.54", features = ["derive"] }
tokio = { version = "1.49.0", features = ["full"] }
xconn = { git = "https://github.com/xconnio/xconn-rust", version = "0.1.0" }
